docker {
    enabled = true
    cacheDir = 'docker'
}

dag {
    enabled = true
    file = 'dag.svg'
    overwrite = true
}

params{
    fasta_file_first_db = 'data/my_db/*.fa*' 
    fasta_file_second_db = 'data/afdb/*.fa*'
    type_clu_script = 'scripts/mmseqs_all_mb_case.py'
}

process {
    withLabel: 'createDB' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'cluster' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'createtsv' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align_output_cov_id' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align_output_pos' {
        container='ambreb/mmseqs:v14_1' 
    }

    withLabel : 'createID_files' {
        container='ambreb/biopython:arm64'
    }
    withLabel : 'type_clu' {
        container='ambreb/biopython:arm64'
    }
}