docker {
    enabled = true
    cacheDir = 'docker'
}

dag {
    enabled = true
    file = 'dag.svg'
    overwrite = true
}

params{
    fasta_file_your_db = 'data/my_db/*.fa*' 

    fasta_file_afdb = 'data/afdb/*.fa*'
    id_file_afdb = 'data/afdb/afdb_id.txt'
    len_file_afdb = 'data/afdb/afdb_len.tsv'
    plddt_file_afdb = 'data/afdb/afdb_plddt.tsv'

    fs_file = 'data/afdb/fs.tsv'

    type_clu_script = 'scripts/cluster_all_mb_case.py'
    file_choose_rep_script = 'scripts/create_file_for_change_rep.py'
    choose_rep_script = 'scripts/choose_rep.py'
    modify_fs_script = 'scripts/modify_foldseek_file.py'
    clustering_struct_script = 'scripts/create_all_cc.py'
    analysis_plot = 'scripts/analysis_plot.r'
    create_resume_tab_clu_analysis = 'scripts/create_resume_tab_clu_analysis.py'

    coverage = 0.8
    identity = 0.4
    covMode = 2
    yourDB = "yourDB"
    doAlignForCovId = false
    doAlignForPos = false

    help = false
}

process {
    withLabel: 'createDB' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'cluster' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'createtsv' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align_output_cov_id' {
        container='ambreb/mmseqs:v14_1' 
    }
    withLabel: 'align_output_pos' {
        container='ambreb/mmseqs:v14_1' 
    }

    withLabel : 'createID_files' {
        container='ambreb/biopython:arm64'
    }
    withLabel : 'type_clu' {
        container='ambreb/biopython:arm64'
    }

    //withLabel : 'modify_fs' {
    //    container='ambreb/nx_pl_pa_pd:arm64'
    //}
    //withLabel : 'create_all_cc' {
    //    container='ambreb/nx_pl_pa_pd:arm64'
    //}

    //Création conteneur pour pandas&numpy pour choose_rep et juste python pour file_choose_rep_script
}